<!DOCTYPE html>
<html lang="en">
<head>
  <title>Arun kumar das</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- linking bootstrap to my html. Works online -->
 <% include partials/header%>
</head>
<body>
<div class="container-fluid">
<div class="container customed">
    <h1>Curriculum Vitae</h1>
    <div class="row"> 
  <div class="col-sm-5">
<div class="container">           
  <table class="table-hover">
    <thead>
      <tr>
      <h3>My Details</h3>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Name</b></td>
        <td>Arun Kumar das</td>
      </tr>
            <tr>
        <td><b>DOB:</b></td>
        <td>1994-06-30</td>
      </tr>
            <tr>
        <td><b>Nationality:</b></td>
        <td>Nepali</td>
      </tr>
            <tr>
        <td><b>Religion:</b></td>
        <td>Hindu</td>
      </tr>
            <tr>
        <td><b>Gender:</b></td>
        <td>Male</td>
      </tr>
            <tr>
        <td><b>Mobile:</b></td>
        <td>+977 9843611584</td>
      </tr>
            <tr>
        <td><b>E-mail:</b></td>
        <td>arund21@yahoo.com</td>
      </tr>

    </tbody>
  </table>
</div>
  <div class="row">
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-youtube"></a>
  </div>
</div>
<div class="col-sm-1"></div>
  <div class="col-sm-6 container">
  <img class="img-thumbnail" src="resources/uploads/userimage.jpg" alt="User Image"><br>
  </div>
</div>
</div>
</div>
<% include partials/footer%>
</body>
</html>